@import "vars";

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

.btn {
  display: inline-block;
  text-align: center;
  text-decoration: none;

  margin: 2px 0;

  border: solid 1px white;
  border-radius: 4px;

  padding: 7px 20px;

  color: #FFFFFF;
  background-color: transparent;

  transition: background-color .5s ease-out;

  font-weight: 600;
  font-size: 12px;
}

.btn:active {
  transform: translateY(1px);
  filter: saturate(150%);
}

.btn:hover {
  color: $color-main;
  border-color: white;
  background-color: white;
}

.btn::-moz-focus-inner {
  border: none;
}

.btn:focus {
  outline: none;
  /*box-shadow: 0 0 0 3px white,
  0 0 0 1.5px white;*/
}

.btn--sides {
  color: #666F78;
  border: 1px solid #B8BFC5;
  cursor: pointer;
  padding: 6px 10px;
  font-weight: 600;
  font-size: 10px;
  margin: 0 4px 0 0;
  position: relative;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  transition-duration: 0.3s;
  transition-property: transform;

  &:hover {
    background-color: white;
    color: #666F78;
    border: 1px solid #B8BFC5;
    transform: scale(1.15);
  }
}

.btn--active {
  background-color: $color-main;
  color: white;
  border: 1px solid $color-main;

  &:hover {
    /*background-color: white;
    color: $color-main;*/
    background-color: $color-main;
    color: white;
    border: 1px solid $color-main;
    transform: scale(1.15);
  }
}

.btn--choice {
  background-color: white;
  color: $color-main;
  font-weight: 600;
  font-size: 11px;
  padding: 4px 8px;
  margin: 0 0 0 auto;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: border .5s ease-out;

  &:hover {
    border: 1px solid $color-main;
  }
}

.btn--selected {
  position: absolute;
  bottom: -9px;
  right: 11px;
  display: block;
  width: 5px;
  height: 5px;
  background-color: $color-main;
  border-radius: 50%;
}

.btn--alert:hover {
  border: 1px solid #DB545C;
}
