.preloader {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999999;
    display: block;
    background: #fff;
    width: 100%;
    height: 800px;
}

.page-loader-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 36px;
    height: 36px;
    margin: -18px 0 0 -18px;
    border-radius: 50%;
    border: 2px solid;
    border-top-color: #2666F6;
    border-bottom-color: rgba(0, 0, 0, 0.15);
    border-left-color: #2666F6;
    border-right-color: rgba(0, 0, 0, 0.15);
    animation: page-loader-circle 0.8s linear infinite;
}

.page-loader-text {
    position: absolute;
    top: 53%;
    left: 50%;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    color: #245EF6;
    transform: translateX(-50%);
}

@keyframes page-loader-circle {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
